main {
    min-height: 80vh;
}

.rating span {
    margin: 0.1rem;
}

h3 {
    padding: 1rem 0;
}

/* Target the input text */
.search-input {
    color: black !important; /* Makes typed text black */
}

/* Target the placeholder text */
.search-input::placeholder {
    color: black !important; /* Makes placeholder text black */
}
